* { box-sizing: border-box; }

body {
	background-image: url("https://image.freepik.com/darmowe-wektory/kot-stoi-w-tle-wzoru_1273-148.jpg");
	margin-top: 80px;
   }

.header {
	border: 2px dashed white;
	text-align: center;
	margin: 5px;
	margin-left: 8px;
	top: 0;
	opacity: 0.9;
	position: fixed;
  	z-index: 1; 
  	width: 99%;
  }


.header :hover{
	font-size: 34px;
}

.header-text {
	font-size: 2em;
}


.head-picture {
	margin-bottom: 2em;

}

.first {
	height: 100%;
	width: 80%;
}

.second {
	height: 100%;
	width: 80%;
}

.third {
	height: 100%;
	width: 80%;
}

.centered {
	display: flex;
    align-items: center;
    justify-content: center;
}

.sub-headers {
	border: 3px dashed white;
	padding: 5px;
	width: 85%;
	margin: 0 auto;
	margin-top: 2em;
	opacity: 0.95;
}

.text { 
	font-color: black;
	padding: 20px;
	margin: 0 auto;
}

.ak {
	margin-top: 60px;
}
.image {
	width: 40%;
	margin-left: 33%;
}

.footer-text {
	border: 2px dashed white;
	text-align: center;
	padding: 5px;
	margin: 1%;
	opacity: 0.9;
	font-size: 1.5em;
}
/*
@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }*/
